/*------------------------------------------------------------------
    File Name: custom.css
    Template Name: Grasscare
    Created By: PSDCONVERTHTML
    Envato Profile: http://themeforest.net/user/psdconverthtml
    Website: https://psdconverthtml.com
    Version: 1.0
-------------------------------------------------------------------*/

.invalid-feedback{width:100%;margin-top:.25rem;font-size:80%;color:#aa2e28}
