/*  Grasscare - HTML5 Theme */

/************ TABLE OF CONTENTS ***************

    1. Fonts
    2. Import Files
    3. Font Awesome
    4. Skeleton
    5. Wp Core
    6. Header
    7. Section
    8. Pricing
    9. Contact
    10. Blog & Pages
    11. Widgets
    12. Slider
    13. Modules
    14. Footer
    15. Shop
    16. Features

**********************************************/

/***

====================================================================
	1. Fonts
====================================================================

 ***/

@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

/***

====================================================================
	2. Import Files
====================================================================

 ***/

@import url(css/animate.css);
@import url(css/font-awesome.min.css);

/***

====================================================================
	3. Import Font Awesome
====================================================================

 ***/

@font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.html");
    src: url("fonts/Flaticond41d.html?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon-2.html") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("fonts/Flaticon.svg#Flaticon") format("svg");
    }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.flaticon-clock:before {
    content: "\f100";
}
.flaticon-contact-form:before {
    content: "\f101";
}
.flaticon-envelope:before {
    content: "\f102";
}
.flaticon-fence:before {
    content: "\f103";
}
.flaticon-forest:before {
    content: "\f104";
}
.flaticon-gardening:before {
    content: "\f105";
}
.flaticon-house:before {
    content: "\f106";
}
.flaticon-link:before {
    content: "\f107";
}
.flaticon-people::before {
    content: "";
    background-image: url('images/icon-grass.png');
    background-size: 100% auto;
    width: 70px;
    height: 100%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.flaticon-shovel::before {
    content: "";
    background-image: url('images/icon-grass.png');
    background-size: 100% auto;
    width: 70px;
    height: 100%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.flaticon-phone-call:before {
    content: "\f109";
}
.flaticon-placeholder:before {
    content: "\f10a";
}
.flaticon-shop:before {
    content: "\f10b";
}
.flaticon-shovel-1:before {
    content: "\f10d";
}
.flaticon-sprout:before {
    content: "\f10e";
}
.flaticon-swimming-pool:before {
    content: "\f10f";
}
.flaticon-tree-leaf:before {
    content: "\f110";
}

/***

====================================================================
	4. Skeleton
====================================================================

 ***/

body {
    color: #787878;
    font-size: 14px;
    line-height: 1.80857;
    padding: 0;
    font-weight: 400;
    background-color: #f3f3f3;
}
body {
    background-image: url('images/bg-body.png');
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: transparent;
}

body::after {
    background: rgba(255,255,255,0.7);
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
body,
p,
li,
.tp.caption.NotGeneric-Title,
.NotGeneric-Title,
.header-contact p,
.navbar-nav > li > a {
    font-family: 'Poppins', sans-serif;
}
.tp-caption.NotGeneric-SubTitle,
.NotGeneric-SubTitle,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}
a {
    color: #272727;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    position: relative;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 140%;
    color: #272727;
    margin: 0
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 21px
}
h4 {
    font-size: 18px
}
h5 {
    font-size: 15px
}
h6 {
    font-size: 13px
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}
a {
    color: #272727;
    text-decoration: none;
    outline: none;
}
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
.lead {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    font-weight: 400;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

/***

====================================================================
	5. Wp Core
====================================================================

 ***/

.drop-cap::first-letter {
    float: left;
    font-size: 400%;
    font-weight: 500;
    color: #ffffff;
    background-color: #171717;
    padding: 10px;
    line-height: 100%;
    margin: 10px 20px 0 0;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}
a img.alignnone {
    margin: 10px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */

    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/***

====================================================================
	6. Header
====================================================================

 ***/

.header {
    padding: 40px 0 0;
    border-top: 3px solid #272727;
}
.header .container-fluid {
    max-width: 1460px;
}
.navbar-default,
.navbar,
.navbar-nav,
.nav {
    border-radius: 0;
    border: 0;
    margin: 0 !important;
}
.navbar-default {
    padding: 15px 0;
    bottom: -35px;
    border-radius: 3px;
    z-index: 10;
    background-color: #F57C00;
}
.navbar-nav > li {
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
}
.navbar-nav > li:first-child {
    border-left: 1px dashed rgba(255, 255, 255, 0.3);
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 15px;
    background-color: #1d1f1d;
    border: 0;
}
.navbar-nav > li > a {
    color: #fcfcfc !important;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 18px;
    text-transform: capitalize;
}
.navbar-nav > li:hover a {
    opacity: 0.8;
}
.navbar-brand {
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0;
    line-height: 1.4;
    white-space: nowrap;
}
.copyrights .fa-angle-up {
    background-color: #272727;
    display: block;
    color: #fcfcfc !important;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    margin: 0px 3px 0 3px;
    padding: 0;
    text-align: center;
    width: 30px;
}
.navbar-default .dropdown-menu > li:hover,
.navbar-default .dropdown-menu > li:focus,
.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #ffffff !important;
}
.navbar-default .dropdown-menu {
    border: 1px solid #efefef;
    border-radius: 0;
    box-shadow: none;
}
.navbar-default .dropdown-menu > li {
    padding: 3px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}
.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a,
.navbar-default .dropdown-menu > li > a {
    background-color: transparent !important;
    color: #979797 !important;
    padding: 5px 20px;
}
.navbar-default .dropdown-menu > li:hover a,
.navbar-default .dropdown-menu > li:focus a {
    padding: 5px 30px;
}
.topbar {
    padding: 18px 0 15px;
    background-color: #272727;
}
.topbar-panel .panel-heading,
.topbar-panel .panel-body,
.topbar-panel {
    position: relative;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}
.clickable {
    background-color: #272727;
    display: block;
    height: 35px;
    line-height: 34px;
    padding: 0;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    font-size: 21px;
    right: 10%;
    text-align: center;
    top: 47px;
    border-radius: 0 0 3px 3px;
    width: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.clickable.panel-collapsed {
    top: 0;
}
.topbar p,
.topbar li,
.topbar a {
    line-height: 1;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.header-contact p {
    font-size: 16px;
    color: #272727;
    font-weight: 500;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.header-contact {
    padding: 0;
}
.header-contact i {
    font-size: 30px !important;
    margin: 12px 20px 0 0;
}
.header-contact p {
    line-height: 24px;
    font-size: 14px;
}

/***

====================================================================
	7. Section
====================================================================

 ***/

.m45 {
    margin-top: 90px;
}
.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}
.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}
.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#wrapper {
    background-color: #fff;
}
.section {
    display: block;
    position: relative;
    padding: 70px 0;
    float: left;
    width: 100%;
}
.nohidden {
    overflow: visible;
}
.section.lb {
    background-color: #fff;
}
.section.db {
    background-color: #272727;
}
.section-title i {
    position: absolute;
    font-size: 63px;
    top: -12%;
    left: 0;
    margin: -20px 0;
    right: auto;
    bottom: 0;
    opacity: 0.2;
    z-index: 0;
    text-align: center;
    display: flex;
    align-items: center;
}
.section.db .section-title i {
    color: #ffffff;
}
.section-widget .lead,
.section-title .lead,
.about-widget .lead {
    color: #aaaaaa;
    padding: 12px 0 9px;
}
.section.db .section-title h3 {
    color: #ffffff;
}
.section-title .lead {
    padding-top: 10px;
}
.section-title h3,
.big-title h3 {
    font-size: 28px;
    padding: 0;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}
.section-title {
    padding-left: 80px;
    margin-bottom: 45px;
    display: block;
    position: relative;
}
.section-title.text-center {
    padding-left: 0;
}
.section-title .lead {
    margin-bottom: 0;
    padding-bottom: 0;
}
.small-title h4 {
    font-size: 16px;
    padding: 20px 0 10px;
    font-weight: 600;
}
.small-title h4 i {
    vertical-align: middle;
    padding-right: 5px;
}
.section-button {
    display: block;
    margin-top: 0px;
}
.section-button .btn {
    font-size: 16px;
    padding: 12px 15px 12px 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.section-button .btn i {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    background-color: #fff;
    margin-left: 5px;
}

/***

====================================================================
	8. Pricing
====================================================================

 ***/

.pricing-box-03 {
    padding: 30px 30px 60px;
    background-color: #333;
    position: relative;
    -webkit-box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: 20px solid transparent;
    border-image: url("images/border.png") 30;
}
.pricing-box-03.leftbg::before,
.pricing-box-03.nobg::before {
    display: none;
}
.pricing-box-03-body ul {
    padding: 0;
}
.pricing-box-03-body ul li {
    color: #111;
    padding: 5px 0;
    list-style: none;
    letter-spacing: 1px;
    border-bottom: none;
    font-size: 15px;
}
.pricing-box-03-body ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing-box-03-head,
.pricing-box-03-body {
    padding: 5px 35px 10px 35px;
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    color: #000;
}
.pricing-box-03-head h3 {
    color: #222;
    padding: 25px 0 10px;
    font-size: 34px;
    margin: 0;
}
.pricing-box-03-head h3 sup {
    font-size: 15px;
}
.pricing-box-03-head h4 {
    color: #fff;
    font-size: 17px;
    padding: 12px 15px;
    margin: 0;
    margin-bottom: 0px;
    background: #60A543;
    font-weight: 600;
    margin-bottom: 0;
}
.pricing-box-03 .btn {
    padding: 7px 22px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #60A543;
    border-color: #60A543;
}
.pricing-box-03.white-style {
    background-color: #ffffff;
}
.pricing-box-03.white-style li {
    color: #555555;
    border-color: rgba(55, 55, 55, 0.1);
}

/***

====================================================================
	9. Contact
====================================================================

 ***/

#message {
    display: none;
    padding: 20px;
    position: relative;
    text-align: left;
}
#map {
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#map img {
    max-width: inherit;
}
.loader {
    margin-left: 10px;
}
.map {
    position: relative;
}
.map .row {
    position: relative;
}
.infobox img {
    width: 100% !important;
}
.map .searchmodule {
    padding: 18px 10px;
}
.infobox {
    display: block;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    width: 260px;
    z-index: 100;
}
.infobox .title {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

/***

====================================================================
	10. Blog & Pages
====================================================================

 ***/


.page-title {
    padding: 60px 0;
    text-align: center;
    background-color: #f1edea;
}
.page-parallax {
    padding: 120px 0;
}
.page-title .section-title p,
.page-title .section-title {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.page-title .section-title {} .pagination-wrap {
    margin-top: 30px;
    padding: 10px 0;
    display: block;
    position: relative;
    border-top: 1px solid #efefef;
}
.pagination > li {
    border: 0;
}
.pagination > li > a,
.pagination > li > span {
    background-color: #fff;
    border: 0 none !important;
    color: #1f1f1f;
    float: left;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 5px 10px;
    border-radius: 0 !important;
    position: relative;
    text-decoration: none;
}
.gardener-list .col-md-3,
.blog-grid .col-md-4 {
    margin-bottom: 30px;
}
.blog-posts img {
    margin-top: 0px;
    max-width: 80px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.blog-posts {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.blog-posts li {
    display: table;
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.blog-posts li:last-child {
    margin-bottom: 0;
}
.blog-posts p a {
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3px;
    display: block;
    text-transform: none;
}
.blog-posts li p {
    padding: 0;
    margin: 0;
}
.blog-posts li small {
    color: #b7b7b7;
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 2px 0 0;
}
.blog-wrapper small a,
.blog-wrapper small {
    color: #aaaaaa;
}
.blog-wrapper small {
    padding: 20px 0 0;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}
.blog-wrapper h4 {
    padding: 5px 0 10px;
    text-transform: capitalize;
}
.blog-wrapper .readmore {
    margin: 10px 0 0;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    display: block;
}
.calloutbox {
    padding: 40px 0;
}
.calloutbox h4 {
    color: #ffffff;
    font-size: 26px;
    line-height: 1.5;
    padding: 0 0px;
    margin: 0;
}
mark {
    padding: 0 10px;
}

/***

====================================================================
	11. Widgets
====================================================================

 ***/

.widget-title {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.widget-title h3 {
    font-size: 21px;
    line-height: 1;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.footer .widget-title h3 {
    color: #ffffff;
}
.widget-title hr {
    margin-left: 0;
    width: 65px;
    border-width: 3px;
}
.twitter-posts {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.twitter-posts li {
    display: table;
    padding: 0 0 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    list-style: none;
}
.twitter-posts li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.twitter-posts p {
    line-height: 28px;
    margin: 7px 0 0;
    color: #787878;
    padding-bottom: 0;
    text-transform: none;
}
.twitter-posts p a {
    border-bottom: 1px solid #f3d900;
}
.twitter-posts li p {
    padding: 0;
    margin: 0;
}
.twitter-posts li small {
    color: #b7b7b7;
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 2px 0 0;
}
.readmore {
    background-color: #272727;
    border-radius: 3px;
    color: #ffffff !important;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 8px;
    display: inline text-bottom;
    padding: 5px;
}
.blog-posts img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}
.blog-posts img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}
.footer-newsletter .form-control::-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.footer-newsletter .form-control:-ms-input-placeholder {
    color: #737373;
}
.footer-newsletter .form-control::-webkit-input-placeholder {
    color: #737373;
}
.footer-newsletter {
    display: block;
    margin-top: 30px;
}
.footer-newsletter .btn {
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    height: 46px;
}
.footer-newsletter .form-control {
    border-radius: 0;
    background-color: #262626;
    border-color: #2c2c2c;
    box-shadow: none;
    font-size: 14px;
}

/***

====================================================================
	12. Slider
====================================================================

 ***/

.metis .tp-bullet,
.metis .tp-bullet.selected,
.metis .tp-bullet:hover {
    padding: 3px !important;
    box-shadow: none !important;
    background-color: #272727 !important;
    background-image: none !important;
}
.btn {
    border-radius: 4px !important;
}

/***

====================================================================
	13. Modules
====================================================================

 ***/

.team-members .small-title h4 {
    padding: 0 0 10px;
}
.team-members small {
    display: block;
    margin-top: 20px;
}
.box {
    padding: 11em 0em;
    border: 1px solid #efefef;
    display: block;
    border-radius: 6px;
    width: 100%;
    margin-top: -2px;
    color: black;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1));
    background-size: 100% 202%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.hoverbox {
    border-radius: 0;
}
.box {
    border-radius: 0;
}
.box i {
    display: block;
    margin: auto;
    font-size: 28px;
    line-height: 1;
    color: #fff;
    text-align: center;
}
.box-content {
    position: absolute;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 48%;
    right: 0;
    margin: -20px auto;
}
.box .box-back {
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 40%;
    right: 0;
    margin: -20px auto;
}
.box .box-back p {
    color: #ffffff;
    padding: 0 30px;
}
.box h2 {
    color: #ffffff;
    padding: 10px;
    margin: 10px 0 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 1;
    font-size: 18px;
}
.box:hover {
    background-position: 100% 100%;
}
.box:hover .box-back {
    opacity: 1;
    display: block;
    top: 55% !important;
}
.box:hover .box-content {
    top: 30%;
}
hr.custom {
    border-style: dashed;
    margin: 40px 0;
}
.about-widget p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.col-md-6 .about-widget p {
    padding-bottom: 10px;
}
.about-widget .btn {
    margin-top: 10px;
}
.magnifier .st {
    color: #ffffff !important;
    display: block;
    display: inline-block !important;
    float: none !important;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    text-align: center;
    width: 35px;
    width: 35px;
}
.magnifier .buttons {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 54%;
    margin-top: -20px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.magnifier:hover .buttons {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.entry {
    position: relative;
}
.entry:hover .magnifier {
    opacity: 1;
    visibility: visible;
}
.magnifier {
    background: #222222;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border-radius: 0px;
}

/***

====================================================================
	14. Footer
====================================================================

 ***/

.footer {
    padding: 90px 0;
    background-color: #272727;
    float: left;
    width: 100%;
}
.footer small {
    color: #666 !important;
    margin-top: 5px !important;
}
.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    display: block;
    position: relative;
    background-color: #111;
    float: left;
    width: 100%;
}
div.grass {
    background: rgba(0, 0, 0, 0) url("images/footer-grass.png") repeat-x scroll 0 0;
    bottom: 0;
    height: 94px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 7010;
}
.read-more {
    color: #fff;
}
.footer-newsletter .form-control,
.topbar p,
.topbar li,
.topbar a,
.da-thumbs .pitem a div h3 small,
.copyrights li a,
.copyrights p,
.twitter-posts h3,
.footer small,
.footer li,
.footer p {
    color: #838383;
}
.copyrights li a,
.copyrights p {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
}
.copyrights p {
    padding-bottom: 0;
}
.copyrights ul li {
    margin: 0 5px !important;
    padding: 0 !important;
}
.copyrights ul {
    padding: 0 !important;
    margin: 0 !important;
}
.btn-primary {
    background-color: #272727;
    border: 2px solid #272727;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 30px;
}

/***

====================================================================
	15. Shop
====================================================================

 ***/

.shop-meta {
    position: relative;
    display: block;
    margin: 15px 0 0;
}
.shop-meta small {
    font-size: 17px;
}
.shop-wrapper .magnifier .st:hover,
.shop-wrapper .magnifier .st:focus,
.shop-wrapper .magnifier .st {
    width: auto !important;
    height: auto !important;
    background-color: transparent !important;
    font-size: 28px;
}
.img-thumbnail {
    background-color: #f9f9f9;
    padding: 4px;
    border: 0;
}

/***

====================================================================
	16. Features
====================================================================

 ***/

.topbar p {
	font-size: 13px;
}

.social-icon {
	float: right;
	list-style: none;
	margin: 0;
}

.social-icon li {
	float: left;
}

.social-icon li a {
	color: #fff !important;
	font-size: 17px;
	transition: ease all 0.5s;
}

.social-icon li a:hover,
.social-icon li a:focus {
	color: #7dc01c !important;
}

.social-icon li {
	float: left;
	margin: 0 0 0 10px;
}

.main-menu {
	float: right;
}

.main-menu .navbar-default {
	bottom: 0;
}

.main-menu .navbar-default {
	bottom: 0;
	padding: 0;
	background: transparent !important;
	border-color: transparent !important;
	color: #111;
}

.main-menu .navbar-default ul.nav.navbar-nav>li>a {
	color: #222 !important;
}

.main-menu .navbar-default ul.nav.navbar-nav>li>a.active,
.main-menu .navbar-default ul.nav.navbar-nav>li>a:hover,
.main-menu .navbar-default ul.nav.navbar-nav>li>a:focus {
	color: #7dc01c !important;
}

.information {
	background: #272727;
}

.header {
	padding: 0;
	border-top: none;
}

.menu-margin {
	margin-top: 25px;
	margin-bottom: 20px;
}
.menu-cart {
    margin: 20px;
}

#wrapper {
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	max-width: 1420px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 0 0 80px -40px #000;
}

.infor {
	display: flex;
	justify-content: center;
	position: relative;
}

.information div.container {
	width: 100%;
	padding: 0;
}

.header-contact p {
	display: flex;
}

.header-contact {
	padding: 10px 0;
}

.infor.infor-design {
	background: red;
	transform: skew(-60deg);
}

.infor.infor-design .header-contact.clearfix {
	transform: skew(60deg);
}

.infor.infor-design {
	background: -webkit-linear-gradient(to right, #7dc01c, #68a510);
	background: -ms-linear-gradient(to right, #7dc01c, #68a510);
	background: -ms-linear-gradient(to right, #7dc01c, #68a510);
	background: linear-gradient(to right, #7dc01c, #68a510);
}

.infor.infor-design .flaticon-clock.alignleft {
	color: #fff;
}

.header-contact p {
	line-height: 20px;
	font-size: 14px;
	color: #fff;
}


/** add css new blog **/

.about-us {
	width: 100%;
	padding: 70px 0;
	background: #fff;
	box-shadow: 0 40px 60px -85px #000;
	border-bottom: solid #eee 1px;
}

.about-us ul {
	float: left;
	width: 50%;
	list-style: none;
	padding: 0;
	margin: 0 0;
}

.about-us ul li {
	color: #79a000;
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	line-height: 35px;
}

.img-border {
	background: #fff;
	border: solid #eee 1px;
	padding: 5px;
}

.img-border img {
	width: 100%;
}

b,
strong {
	font-weight: 800;
}

.about-us h2 {
	margin-bottom: -10px;
	font-size: 22px;
}

.gray-section-info {
	width: 100%;
	min-height: 700px;
	background: #272727;
	position: relative;
}

.white-color h2,
.white-color p,
.white-color {
	color: #fff;
}

.gray-section-info {
	padding: 70px 0;
	background-image: url('images/bg-why-choose-us.png');
	background-color: transparent;
	background-position: bottom;
	background-size: cover;
}

.center-text {
	text-align: center;
}

.gray-section-info .lead.center-text {
	color: #ccc;
	font-size: 14px;
	width: 50%;
	margin: 0 auto;
	line-height: 24px;
}

.garden-icon-uniF106:before {
	content: "\f106";
}

.aio-icon-box .aio-icon-left {
    float: left;
    width: 65px;
    height: auto;
    position: absolute;
    left: 0;
}

.aio-icon-box .aio-icon-left img {
	width: 100%;
	margin: 10px 0 0 0;
}

.aio-icon-box {
    float: left;
    width: 100%;
    display: block;
}

.aio-ibd-block {
    padding-left: 70px;
}

.align-icon {
	float: left;
}

.aio-icon-component {
	float: left;
	width: 100%;
	margin: 45px 0 0;
}

.gray-section-info>.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
	width: 90%;
	margin: 0 5%;
}

.mission-img {
	float: left;
	width: 100%;
	text-align: center;
}

.mission-img img {
	width: 70%;
	position: relative;
	top: -115px;
}

.icon-main {
	text-align: center;
	position: relative;
	top: -5px;
}

.gray-section-info {
	font-size: 13px;
}

.mission-text {
	float: left;
	width: 80%;
	margin: -170px 10% 90px 10%;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.11);
	border-radius: 15px;
	padding: 50px 65px 55px 65px;
	background: #fff;
	position: relative;
	z-index: 1;
}

.mission-text p {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	line-height: 28px;
	color: #666;
}

.section.lb.information-section {
	float: left;
	width: 100%;
	background: #272727;
	padding: 0;
}

.imformation-img img {
	width: 100%;
}

.imformation-text {
	float: left;
	width: 100%;
	padding: 80px 100px;
	margin: 0;
	color: #fff;
}

.imformation-text h2 {
	font-size: 35px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0px;
	margin-bottom: 5px;
}

.imformation-text ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

.imformation-text ul li {
	float: left;
	width: 50%;
	line-height: 30px;
	font-style: italic;
}

.inform-service {
	color: #7dc01c;
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0;
	float: left;
	width: 100%;
}

.bottom-section {
	float: left;
	width: 100%;
	background: url('images/great-gardener-team-bg.jpg');
	min-height: 233px;
}

.bottom-section h4 {
	text-align: right;
	font-weight: 700;
	color: #fff;
	font-size: 25px;
	margin: 45px 0 0;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.bottom-section p {
	color: #fff;
	text-align: right;
	font-size: 20px;
	font-weight: 600;
	text-transform: none;
	font-style: italic;
	letter-spacing: 0;
	line-height: 30px;
	margin-top: 42px;
}

.btn-contact {
	background: #fff;
	padding: 7px 30px;
	float: right;
	font-weight: 600;
	font-size: 16px;
	border-radius: 50px;
	color: #68a510;
	margin-top: 5px;
	border: solid #fff 2px;
}

.btn-contact:hover,
.btn-contact:focus {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

footer {
	padding: 90px 0;
	background-color: transparent;
	background-image: url(images/footer-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
}

footer.gardener .widget h3 {
	border-color: rgba(121, 107, 93, 0.4);
}

footer .widget h3 {
	border-bottom: 1px solid #0e3c4f;
	border-bottom-color: rgb(14, 60, 79);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	margin: 0 0 17px;
	padding-bottom: 15px;
	text-transform: capitalize;
}

.gardener {
	float: left;
	width: 100%;
	padding: 50px 0;
}

footer.gardener .widget p {
	color: #c5b199;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer.gardener .widget .popular-post li a h5,
footer.gardener .widget .contact-info li {
	color: #AE9E8A;
}

footer .widget .contact-info li .fa {
	font-size: 22px;
}

footer.gardener .widget p {
	color: #c5b199;
}

footer.gardener .quick-links li a {
	font-size: 14px;
	line-height: 16px;
	color: #BEAA93;
	margin-bottom: 15px;
	display: block;
}

.contact-info li {
	display: flex;
}

.icon-box {
	margin-right: 0;
	float: left;
	width: 33px;
}

.positioned {
	position: relative;
	top: -130px;
	width: 175px;
	right: -30px;
}

.about-widget {
	float: left;
	width: 100%;
	position: relative;
}

.team-members .small-title {
	position: relative;
	width: 70%;
	margin: -32px 15% 0 15%;
	background: #fff;
	padding: 10px 35px 2px;
	transform: skew(-25deg);
	border-bottom: solid #7dc01c 5px;
	border-left: solid #7dc01c 5px;
	box-shadow: 30px 20px 25px -32px #000;
}

.section.lb.our-gar {
	padding-bottom: 70px;
}

.team-members small {
	margin-top: 0;
	transform: skew(25deg);
}

.team-members .small-title h4 {
	transform: skew(25deg);
}

.btn-default,
.navbar-default,
.buttons .st {
	background-color: #7dc01c !important;
	border-color: #7dc01c !important;
	color: #ffffff;
}

.calloutbox,
.buttons .st:hover,
.buttons .st:focus,
.btn-default:hover,
.btn-default:focus {
	background-color: #6eb10e !important;
	border-color: #6eb10e !important;
	color: #ffffff !important;
}

.appointment-section {
	float: left;
	width: 100%;
	background-image: url('images/footer-grass.png');
	background-color: #272727;
	background-repeat: repeat-x;
	background-position: bottom;
}

.appointment-section img {
	width: 100%;
}

.appointment {
	border: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 55px;
}

#bunch_footer_image-2 {
	position: absolute;
	right: -95px;
}

.footer-bottom p,
.footer-bottom a {
	color: #98BC24;
}

.workinghours ul i {
	font-size: 22px;
}

.shop-wrapper {
	background: #222;
	color: #fff;
}

.shop-meta h4 a {
	color: #fff;
}

.post-media .img-responsive.img-thumbnail {
	border-radius: 0;
}

.skew-pro .shop-wrapper {
	background: transparent;
	color: #fff;
}

.skew-pro .img-thumbnail {
	background-color: #eee;
	padding: 4px;
}

.skew-pro .shop-meta {
	width: 80%;
	transform: skew(-25deg);
	background: #222;
	float: left;
	position: relative;
	top: -45px;
	left: 35px;
	border-bottom: solid #7dc01c 5px;
	padding: 8px 0;
}

.skew-pro .shop-meta small {
	transform: skew(25deg);
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: normal;
}

.skew-pro h4 {
	float: left;
	width: 100%;
	transform: skew(25deg);
	margin: 0;
	padding: 2px 0;
}

.blog-wrapper .about-widget {
	padding: 15px;
	background: #fff;
	border: solid #ddd 1px;
	box-shadow: 0 20px 50px -50px #000;
	margin-bottom: 50px;
}

.inner-page-banner {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 25px 0;
	box-shadow: 0 10px 60px -40px #000;
	border-bottom: solid #eee 1px;
}

.inner-page-banner h4 {
	float: left;
	color: #272727;
	font-size: 25px;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

.inner-page-banner ul.breadcrumbs {
	list-style: none;
	float: right;
	padding: 5px 0;
}

.inner-page-banner ul.breadcrumbs li {
	color: #999;
	font-size: 14px;
	font-weight: 500;
	float: left;
	margin: 0 0 0 10px;
}

.inner-page-banner ul.breadcrumbs li a {
	color: #7dc01c;
}

.info-about {
	display: flex;
	padding: 0;
	margin: 10px 0;
}

.icon-text {
	padding-left: 15px;
}

.info-about h3 {
	font-weight: 500;
	font-size: 18px;
}

.lady-garden {
	width: 100%;
	margin-top: -90px;
	text-align: center;
	position: relative;
	margin-bottom: -100px;
}

.lady-garden img {
	width: 365px;
}

.service-render {
	float: left;
	width: 100%;
}

.feature-img {
	float: left;
	width: 100%;
	position: relative;
	transition: ease all 1s;
}

.feature-img img {
	border-radius: 100%;
}

.feature-text-hover {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 28px;
}

.service-render-text {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.service-render-text {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
}

.service-render-text h4 {
	width: 180px;
	height: 180px;
	border-radius: 100% 100% 100% 0px;
	background: pink;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin: 0px 0px -65px 150px;
	border: solid #fff 5px;
	font-size: 18px;
	padding: 0 15px;
	font-weight: 600;
	z-index: 1;
	transform: rotate(0);
}

.feature-img::after {
	width: 95%;
	height: 95%;
	background: transparent;
	display: block;
	position: absolute;
	content: "";
	top: 0;
	border-radius: 100%;
	margin: 2.5%;
	border: 7px solid rgba(255, 255, 255, 0.5);
}

.feature-text-hover {
	float: left;
	width: 95%;
	height: 95%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 28px;
	margin: 2.5%;
	transition: ease all 1s;
	transform: scale(0) rotate(720deg);
}

.feature-img:hover div.feature-text-hover,
.feature-img:focus div.feature-text-hover {
	transform: scale(1) rotate(0deg);
}

.brwon-img {
	background-image: url('images/soild-bg.png');
	background-size: cover;
	background-position: right;
	box-shadow: 0 -50px 85px -120px #000;
}

.pricing-box-03-foot {
	margin-top: 25px;
}

.pricing-box-03 {
	padding: 30px 30px 60px;
	background-color: #333;
	position: relative;
	background-image: url(images/price-board.png);
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	box-shadow: 0 30px 35px -35px #000;
	border-top: #7dc01c;
}

.feature-text-hover {
	background: rgba(116, 177, 27, 0.7);
}

.bottom-grass {
	background: url('images/footer-grass.png');
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 100px;
}

.service-plant {
	padding: 15px 0 0;
}

.serv {
	float: left;
	width: 100%;
}

.serv ul li {
	display: inline-flex;
	float: left;
	width: 100%;
	margin-bottom: 35px;
}

.service-img {
	width: 50px;
	margin-right: 20px;
	margin-top: 20px;
}

.servce-cntnt h5 {
	font-weight: 500;
	font-size: 16px;
	padding: 0;
}

.servce-cntnt p {
	font-size: 13px;
	line-height: normal;
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
}

.appointment h3 {
	color: #fff;
	font-weight: 600;
	margin: 0;
	padding-bottom: 20px;
	font-size: 25px;
}

.members {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.members-page .about-widget .post-media.entry {
	height: 335px;
	overflow: hidden;
}

.members-page .about-widget {
	margin-bottom: 40px;
}

p {
	font-size: 14px;
	font-weight: 300;
}

p.lead+p {
	margin: 5px 0 0 0;
}

.light-sliver {
	background: #f8f8f8;
	box-shadow: 0 20px 70px -70px #000;
	border-bottom: solid #ddd 1px;
}

.light-sliver .section-title {
	margin: 0;
}

.client-testimonials {
	float: left;
	width: 100%;
	margin: 0;
	padding: 70px 0;
	position: relative;
}

.client-testimonials ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.client-testimonials ul li {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 200px;
}

.textimonial-img {
	border-radius: 100%;
	position: relative;
	z-index: 1;
}

.divorce-icon {
	position: relative;
}

.divorce-icon {
	position: relative;
	text-align: center;
	float: left;
}

.dottad-border {
	width: 0;
	position: absolute;
	height: 100%;
	top: 0;
	border-right: dashed 1px;
	margin: 0 auto;
}

.divorce-icon {
	position: relative;
	text-align: center;
	float: left;
	min-height: 230px;
}

.textimonial-img {
	border-radius: 100%;
	position: relative;
	z-index: 1;
	border: solid #7dc01c 5px;
	box-shadow: 0 0 1px 5px #fff;
}

.left .message-contact {
	background: #272727;
	width: 95%;
	padding: 30px 40px;
	border-radius: 0;
	color: #fff;
	position: relative;
	border-bottom: solid #7dc01c 5px;
}

.right .message-contact {
	background: #272727;
	width: 95%;
	padding: 30px 40px;
	border-radius: 0;
	color: #fff;
	float: right;
	position: relative;
	border-bottom: solid #7dc01c 5px;
}

.message-contact h5 {
	color: #7dc01c;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 15px;
}

.left .message-contact::after {
	content: "";
	width: 0;
	height: 0;
	border-left: solid #272727 30px;
	border-bottom: solid transparent 30px;
	border-top: solid transparent 30px;
	display: block;
	position: absolute;
	right: -28px;
	top: 50px;
}

.right .message-contact::after {
	content: "";
	width: 0;
	height: 0;
	border-right: solid #272727 30px;
	border-bottom: solid transparent 30px;
	border-top: solid transparent 30px;
	display: block;
	position: absolute;
	left: -28px;
	top: 50px;
}

.divorce-icon.last {
	min-height: auto;
}

.message-qout {
	transform: skew(-20deg);
}

.message-contact p {
	transform: skew(20deg);
}

.message-contact h5 {
	padding-left: 23px;
	transform: skew(20deg);
}

.testimonial-page .skew-pro .shop-meta {
	left: 20px;
}

.banner-not-found {
	float: left;
	width: 100%;
	background: url('images/green-bg.jpg');
	background-size: cover;
	padding: 50px;
	position: relative;
	margin: 100px 0;
}

.banner-not-found h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
}

.page-not-found p {
	color: #fff;
	font-size: 16px;
	line-height: normal;
	font-weight: 400;
}

.page-not-found-img {
	position: relative;
	height: 100%;
	bottom: 0;
	float: left;
	width: 100%;
	left: 0;
}

.banner-not-found img {
	position: relative;
	bottom: 0;
	margin-bottom: -50px;
	width: 85%;
	margin-top: -160px;
}

.read-more-bt {
	background: #111;
	color: #fff;
	padding: 8px 20px;
	float: left;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 15px;
}

.post-date {
	float: left;
	width: 100%;
	margin: 0;
	text-align: center;
}

.post-date span {
	background: #fff;
	padding: 10px 20px;
	border: solid #fff 2px;
	font-size: 15px;
	font-style: italic;
	font-weight: 600;
	color: #333;
	position: relative;
	top: -20px;
	box-shadow: 0px 10px 15px -18px #000;
}

.feature-blog-heading {
	float: left;
	width: 100%;
}

.feature-blog-heading h2 {
	font-size: 20px;
	text-align: center;
	padding: 0 50px;
	line-height: 30px;
}

.single-blog {
	margin: 15px 0;
}

.post-resource {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.post-resource ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-resource ul li {
	display: inline;
	margin: 0 10px;
}

.post-resource ul li a {
	color: #999;
}

.post-resource li i {
	font-size: 20px;
	color: #7dc01c;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

.post-resource ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	display: flex;
	justify-content: center;
	font-size: 14px;
}

.single-blog {
	float: left;
	width: 100%;
	margin: 0;
	color: #898989;
	font-size: 14px;
}

.section.single-blog.bottom-grass {
	margin: 10px 0 0;
	float: left;
}

.blog-list {
	float: left;
	width: 100%;
	padding-top: 15px;
}

.blog-list li {
	float: left;
	width: 50%;
	margin: 5px 0;
	font-size: 15px;
	font-weight: 400;
}

.section.single-blog.bottom-grass {
	margin: 25px 0 0;
	float: left;
	font-weight: 500;
}

.blog-list li i {
	font-size: 10px;
	color: #7dc01c;
}

.single-blog h4 {
	float: left;
	margin: 15px 0;
	padding: 0;
}

.clients-say {
	width: 90%;
	margin: 25px 5%;
	padding: 30px 50px;
	color: #fff;
	border-radius: 0 50px 0 50px;
	border-bottom: solid #7dc01c 4px;
	transform: skew(20deg);
	border-right: solid #7dc01c 4px;
}

.clients-say p,
.clients-say span {
	transform: skew(-20deg);
	color: #666;
}

.clients-say p i {
	font-size: 25px;
	margin-right: 10px;
}

.clients-say .text-right {
	float: right;
	transform: skew(0deg);
	color: #7dc01c;
	font-weight: 400;
	width: 100%;
	font-size: 15px;
}

.share-post {
	float: left;
	width: 100%;
	border: solid #ddd 1px;
	padding: 15px 20px;
}

.share-post li a {
	color: #999 !important;
}

.share-post li {
	float: left;
	margin: 0 0 0 25px;
}

.share-text {
	float: left;
	margin: 0px 0 0;
	font-size: 18px;
	color: #666;
}

.commant-section {
	float: left;
	margin: 25px 0;
	padding: 0;
}

.commant-section {
	float: left;
	margin: 25px 0;
	border: solid #ddd 1px;
	padding: 30px 15px;
	width: 100%;
}

.commant-section h3 {
	font-size: 20px;
	font-weight: 500;
	float: left;
	width: 100%;
	padding-bottom: 30px;
}

.profile img {
	border-radius: 100%;
	border: none;
	box-shadow: none;
}

.commant-section h5 {
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.c_date,
.comment-reply-link {
	font-size: 13px;
	font-weight: 400;
	margin-right: 0;
}

.msg {
	font-size: 13px;
}

.commant-text {
	border-bottom: solid #ddd 1px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.commant-text .commant-text {
	border-bottom: none;
}

.commant-section .col-lg-12.col-md-12.col-sm-12.col-xs-12 div.commant-text:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

#comments_form {
	float: left;
	width: 100%;
}

.comment-box-half {
	float: left;
	width: 100%;
}

.comment-box-half input {
	width: 100%;
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding: 10px 20px;
	font-weight: 300;
}

.comment-box-full textarea {
	width: 100%;
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding: 10px 20px;
	font-weight: 300;
}

.comment-box-submit input#submit {
	padding: 9px 30px;
	border: none;
	margin: 10px 0 10px;
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0px;
	background: #7dc01c;
	border-radius: 0px;
	transition: ease all 1s;
	color: #fff;
}

.comment-box-submit input#submit:hover,
.comment-box-submit input#submit:focus {
	background: #222;
	color: #fff;
}

.search-box {
	background: #7dc01c;
	padding: 7px;
}

.search-query {
	background: #fff;
	border-radius: 0;
	border: none;
	padding: 10px 20px;
	height: auto;
	font-weight: 400;
	box-shadow: none;
}

.search-box .btn.btn-danger {
	background: #272727;
	border: none;
	padding: 8px 15px 6px;
	font-size: 18px;
	border-radius: 0 !important;
}

.side-bar {
	background: #272727;
	height: 100%;
	padding-bottom: 25px;
	float: left;
	width: 100%;
}

.content-wrap {
    position: absolute;
    top: 10px;
    padding-left: 95px;
}

.side-bar-blog {
	padding: 25px 25px 0 25px;
}

.side-bar-blog h3 {
	font-size: 20px;
	font-weight: 500;
	border-bottom: none;
	margin-bottom: 30px;
	padding: 0 0 0px 10px;
	color: #fff;
	border-left: solid #7dc01c 5px;
	line-height: 20px;
	margin-top: 10px;
}

.side-bar-blog li {
    padding: 15px 15px;
    display: block;
    background: #fff;
    margin-top: 15px;
    position: relative;
}

.side-bar-blog li .post-thumb {
    width: 80px;
    margin-right: 15px;
}

.date {
	color: #333;
	font-size: 12px;
}

.content-wrap h5 {
	margin: 6px 0 5px;
	padding: 0;
	font-size: 15px;
}

.white-blog {
	padding: 0;
	margin-top: 15px;
	color: #fff;
}

.side-bar-blog.catargy li {
	padding: 0;
	background: transparent;
	margin: 10px 0;
	display: block;
}

.wht {
	background: #fff;
	padding: 10px 15px;
	margin-top: 15px;
}

.side-bar-blog.catargy li a {
	font-weight: 400;
}

.white-blog p {
	margin: 0;
}

.tag {
	background: #fff;
	padding: 8px 12px !important;
	float: left;
	font-size: 13px;
	margin-right: 10px;
}

.tag {
	background: transparent;
	padding: 8px 12px !important;
	float: left;
	font-size: 13px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid #fff 1px;
	color: #fff;
}

.tag:hover,
.tag:focus {
	background: #fff;
	color: #272727;
}

.Shop-Layout-page .skew-pro .shop-meta {
	width: 100%;
	transform: none;
	background: #eee;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	border-bottom: none;
	padding: 10px 0;
	margin-top: 0;
	margin-bottom: 25px;
}

.Shop-Layout-page .skew-pro .shop-meta small {
	transform: skew(0);
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: normal;
}

.Shop-Layout-page .skew-pro .shop-meta h4 {
	float: left;
	width: 100%;
	transform: skew(0);
	margin: 0;
	padding: 2px 0;
	background: transparent;
	font-size: 16px;
}

.Shop-Layout-page .skew-pro .shop-meta h4 a {
	color: #222;
}


/** tunb slider **/


/* CSS used here will be applied after bootstrap.css */

.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
	padding: 2px;
}

.item .thumb img {
	width: 100%;
	padding: 2px;
	background: #eee;
}

.item img {
	width: 100%;
}

.page-infor p {
	text-align: left;
	font-weight: 400;
	font-size: 13px;
	color: #999;
	letter-spacing: 1px;
}

.product-heading {
	text-align: left;
	border-bottom: 1px solid #f0f0f0;
}

.product-heading h2 {
	font-size: 24px;
	color: #181818;
	padding-bottom: 23px;
}

.product-detail-side {
	border-bottom: 1px solid #f0f0f0;
	text-align: left;
	padding: 15px 0;
}

.product-detail-side span {
	font-size: 24px;
	font-weight: 300;
	margin-right: 15px;
}

.product-detail-side span.new-price {
	color: #222;
	font-weight: 400;
}

.rating i {
	color: #eabe12;
	font-size: 18px;
	margin: 0 -2px;
}

.rating i.grey {
	color: #ccc;
}

.product-detail-side span.review {
	font-size: 13px;
}

.product-detail-side span.rating {
	margin-right: 5px;
}

.detail-contant {
	text-align: left;
}

.stock {
	color: black;
	font-weight: 500;
	color: #77a464;
}

.cart .quantity {
	float: left;
}

.Single-shop-page .share-text {
	font-size: 13px;
	margin: 4px 0 0;
}

.detail-contant {
	text-align: left;
	padding: 25px 0;
}

.cart-form .cart {
	float: left;
}

.cart-form .cart .quantity {
	float: left;
	position: relative;
}

.input-text.qty.text {
	background: #fff;
	padding: 10px 15px;
	border: solid #ccc 1px;
	font-size: 15px;
	font-weight: 400;
	width: 80px;
}

.cart button {
	background: #fff;
	border: solid #272727 2px;
	padding: 8px 25px;
	font-size: 16px;
	color: #272727;
	border-radius: 5px;
	margin-left: 10px;
	transition: ease all 0.5s;
}

.cart button:hover,
.cart button:focus {
	background: #7dc01c;
	border-color: #7dc01c;
	color: #fff;
}

.input-text.qty.text {
	background: #fff;
	padding: 5px 10px 5px 15px;
	border: solid #ccc 1px;
	font-size: 20px;
	font-weight: 400;
	width: 65px;
	color: #272727;
	border-radius: 0;
}

.catery {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 15px;
}

.catery span {
	font-weight: 400;
}

.section.single-blog .share-post {
	margin: 13px 0;
	float: left;
	padding: 10px 0;
	border-right: none;
	border-left: none;
}

.tab-content {
	float: left;
	width: 100%;
	padding: 25px 0 15px;
	background: #fff;
	border-top: solid #ddd 1px;
}

.well.well-sm {
	float: left;
	width: 100%;
	background: transparent;
	padding: 0;
	border: none;
	box-shadow: none;
}

.well.well-sm .text-right {
	margin-top: 20px;
}

div.despric .nav>li>a {
	position: relative;
	display: block;
	padding: 10px 20px;
	font-weight: 500;
	font-size: 15px;
}

.despric ul#tabs li a:hover,
.despric ul#tabs li a:active,
.despric ul#tabs li a:focus {
	background: #333;
	border-color: #333;
	color: #fff;
}

.product-img-main .left.carousel-control {
	background: #2f2f2f;
	opacity: 1;
	width: 40px;
	left: 0px;
	height: 40px;
	margin-top: 30px;
}

.product-img-main .right.carousel-control {
	background: #2f2f2f;
	opacity: 1;
	width: 40px;
	right: 0px;
	height: 40px;
	margin-top: 30px;
}

.despric {
	float: left;
	width: 100%;
	margin-top: 40px;
}

.product-img-main .left.carousel-control span {
	color: #fff;
	text-shadow: none;
	font-size: 16px;
	width: 35px;
	text-align: center;
	position: absolute;
	left: 14px;
	padding-top: 2px;
}

.product-img-main .right.carousel-control span {
	color: #fff;
	text-shadow: none;
	font-size: 16px;
	width: 35px;
	text-align: center;
	position: absolute;
	right: 14px;
	padding-top: 2px;
}

.tab-slide {
	float: left;
	width: 100%;
	margin: 40px 0 20px;
}

.tab-slide ul li a:hover {
	background: #fff;
}

.tab-content {
	float: left;
	width: 100%;
	padding: 25px 0 15px;
	background: #fff;
}

.tab-content h2 {
	font-size: 18px;
	font-weight: 400;
	color: #333;
}

.tab-slide #tabs {
	border-bottom: solid #ddd 1px;
}

.Single-shop-page .commant-text p {
	margin: 0;
}


/** star **/

.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.stars {
	margin: 5px 0 0;
	font-size: 24px;
	color: #eabe12;
}

.well.custom-rating.well-sm {
	margin: 0;
	float: left;
	width: 100%;
	background: #fff;
	border: none;
	box-shadow: none;
	padding: 20px 0;
}

#post-review-box #new-review {
	border: none;
	box-shadow: none;
	border: solid #ddd 2px;
	min-height: 120px;
	font-weight: 400;
	padding: 15px 25px;
}

#close-review-box,
.btn.btn-success {
	padding: 8px 15px;
	font-size: 14px;
	font-weight: 600;
	background: #7dc01c;
	border-color: #7dc01c;
}
#close-review-box.btn-danger {
	background: #d43f3a;
	border-color: #d43f3a;
}

.Single-shop-page .single-blog h4 {
	margin: 0;
}

.Single-shop-page .skew-pro .shop-meta {
	left: 22px;
}

.product-img-main #carousel {
	border: solid #eee 2px;
}

.shopping-cart tr th {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	text-transform: none;
}

.shopping-cart thead {
	background: #f6f6f6;
}

.shopping-cart thead th {
	padding: 12px 25px 10px !important;
}

.single-blog table h4 {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: 500;
}

.single-blog table h4+h5 {
	float: left;
	width: 100%;
	font-size: 14px;
	color: #999;
}

.single-blog table h4+h5 {
	color: #999;
}

.shopping-cart div.media a {
	padding: 0;
	margin-right: 20px;
	border: none;
	border-radius: 0;
}

.media-object {
	width: 90px;
	height: 90px;
}

.shopping-cart table tbody tr td {
	padding: 20px 15px 5px;
}

.media-body span,
.media-body span a {
	font-weight: 400;
}

.shopping-cart #Quantity1,.shopping-cart #Quantity2 {
	width: 50px;
	margin: 0 auto;
	box-shadow: none;
	border-radius: 0;
	border: solid #eee 2px;
	height: 45px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}

.shopping-cart td.price-cnt {
	font-size: 16px;
	font-weight: 400;
	padding-top: 32px;
	color: #333;
}

.coupon {
	float: left;
}

.shopping-cart table tbody tr td.caupon {
	padding: 20px 0 20px;
}

.shopping-cart table tbody tr td.caupon .coupon #coupon_code {
	border: solid #ccc 1px;
	padding: 9px 15px;
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.shopping-cart .button {
	padding: 10px 15px;
	border: none;
	background: #2f2f2f;
	color: #fff;
	margin-left: -1px;
	transition: ease all 0.5s;
}

.shopping-cart .button:hover,
.shopping-cart .button:focus {
	color: #fff;
	background: #7dc01c;
}

.product-img-main .media-object {
	border: solid #ddd 1px;
	padding: 5px;
}

.text-success {
	color: green;
}

.text-warning {
	color: #de4c0b;
}

.cart-form {
	width: 100%;
	background: #f6f6f6;
	border-top: solid #ccc 2px;
}

.shopping-cart table tbody tr.cart-form td {
	padding: 20px 20px 20px;
}

.shopping-cart table tbody tr.cart-form td input.button[name="update_cart"] {
	float: right;
	cursor: pointer;
}

.cart-form .coupon input#coupon_code {
	padding: 9px;
	margin-right: -3px;
	padding: 9px 20px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.shopping-cart-cart {
	width: auto;
	float: right;
	background: #f8f8f8;
	padding: 25px;
}

.checkout .shopping-cart-cart {
	width: 100%;
	float: right;
	border: solid #ddd 1px;
	padding: 25px;
	background: #fff;
}

.checkout .shopping-cart-cart .head-table,
.checkout .shopping-cart-cart .head-table h5 {
	background: #222;
	color: #fff;
	padding-left: 10px;
}

.payment-form .credit-card-box {
	float: left;
	width: 100%;
	border: none;
	padding: 10px;
	background: #eee;
}

.payment-form {
	float: left;
	width: 100%;
	margin-top: 25px;
}

.payment-form .credit-card-box .panel-heading.display-table {
	float: left;
	width: 100%;
	background: #fff;
	padding: 20px 35px;
	border: none;
}

.payment-form .credit-card-box .panel-heading.display-table .panel-title {
	float: left;
	margin: 0;
	padding: 9px 0;
	font-size: 20px;
}

.credit-card-box .panel-body {
	float: left;
	width: 100%;
	background: #fff;
	border-top: solid #eee 2px;
	padding: 30px;
}

.checkout .shopping-cart-cart table {
	width: 100%;
}

.head-table {
	background: #fff;
}

.head-table td h5 {
	font-size: 18px;
	font-weight: 500;
}

.add-to-cart-wrap-btn.button[name="update_cart"] {
	padding: 10px 15px;
	border: none;
	background: #2f2f2f;
	transition: ease all 0.5s;
	color: #fff;
}

.add-to-cart-wrap-btn.button[name="update_cart"]:hover,
.add-to-cart-wrap-btn.button[name="update_cart"]:focus {
	color: #fff;
	background: #7dc01c;
}

.shopping-cart .last {
	padding-right: 0;
	text-align: right;
}

.shopping-cart .last button {
	margin-top: 5px;
}

.shopping-cart-b {
	float: right;
}

.shopping-cart thead th h3 {
	padding: 0;
}

.shopping-cart-b td h5 {
	font-size: 16px;
	color: #333;
}

.shopping-cart-b tr {
	border-bottom: solid #eee 1px;
}

.shopping-cart-b tr:last-child {
	border-bottom: none;
}

.shopping-cart table tbody tr td.caupon {
	padding: 20px 25px 20px;
	background: #f8f8f8;
}

.blog-page .blog-wrapper .about-widget {
	padding: 0 0 35px 0;
	background: #fff;
	box-shadow: 0 20px 50px -63px #000;
	margin-bottom: 30px;
	border: none;
}

.clear {
	float: left;
	width: 100%;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0 0;
	border-radius: 4px;
}

.top-inform .workinghours li {
	color: #666;
}

.tab-info {
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px 30px;
	margin-bottom: 10px;
	border-top: solid #7dc01c 3px;
	background: #f9f9f9;
}

.tab-info p {
	margin: 0;
	font-size: 15px;
	font-weight: 400;
	color: #333;
}

.tab-info p a {
	color: #619e09;
	cursor: pointer;
}

.tab-info+.collapse {
	border: 1px solid #d3ced2;
	float: left;
	margin-bottom: 10px;
	padding: 25px;
	border-radius: 5px;
	width: 100%;
}

.coupon .input-text {
	float: left;
	border: solid #ccc 1px;
	padding: 8px 15px;
}

.checkout .input-text {
	float: left;
	width: 100%;
	border-radius: 5px;
	border: solid #ccc 1px;
	padding: 8px 15px;
}

.btn-login {
	margin-top: 15px;
}

.checkout .button {
	background: #333;
	border-radius: 5px;
	border: none;
	padding: 9px 12px;
	min-width: 100px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	margin-right: 10px;
}

.checkout-form {
	float: left;
	width: 100%;
	margin: 3px 0 0;
	background: #fff;
	padding: 25px;
	border: solid #ddd 1px;
}

.checkout h2 {
	font-size: 24px;
	margin: 25px 0 10px;
	padding: 0;
}

.checkout .form-field label {
	font-size: 15px;
	font-weight: 400;
	color: #333;
}

.checkout .form-field input,
.checkout .form-field select {
	width: 100%;
	border: solid #ddd 1px;
	padding: 5px;
	font-size: 13px;
	padding: 8px 20px;
	margin-top: 0;
}

.form-field.cardNumber {
	display: flex;
}

.form-field.cardNumber .input-group-addon {
	padding: 0;
	width: 55px;
	border-radius: 0;
	font-size: 20px;
	line-height: 38px;
	color: #fff;
	background: #333;
	border-color: #333;
}

#payment-form .form-field {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.payment-bt {
	margin: 15px 0;
}

.checkout .form-field textarea {
	min-height: 90px;
	width: 100%;
	border: solid #ddd 1px;
	padding: 5px;
	font-size: 13px;
	padding: 8px 20px;
	margin-top: 0;
}

.checkout-form .form-field {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.form-field input[type="checkbox"] {
	width: auto;
	margin-right: 10px;
	float: left;
	position: relative;
	top: 6px;
}

#payment-form .payment-bt .subscribe {
	width: 250px;
	padding: 12px 25px;
	border-radius: 50px !important;
}

.payment-bt {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.pricing-page .skew-pro .shop-meta {
	left: 25px;
}

.dropdown-menu {
	min-width: 200px;
}

.row.appointment_form {
	margin-bottom: 25px;
}

.container {
    width: 90%;
}

.lawn-maintenance img {
    margin-top:20px;
}

/*------------------------------------------------------------------
    MISC
-------------------------------------------------------------------*/
/*!
 * Bootstrap-select v1.11.0 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

select.bs-select-hidden,
select.selectpicker {
    display: none;
}
.bootstrap-select {
    width: 220px \0;
    /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #999;
}
.bootstrap-select > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
}
.bootstrap-select > select.mobile-device {
    top: 0;
    left: 0;
    display: block !important;
    width: 100% !important;
    z-index: 2;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}
.bootstrap-select.fit-width {
    width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}
.bootstrap-select.btn-group.bs-container {
    position: absolute;
    height: 0 !important;
    padding: 0 !important;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -6px;
    vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .fa-angle-down {
    position: static;
    top: auto;
    margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}
.bs-actionsbox {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
    width: 50%;
}
.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bs-donebutton .btn-group button {
    width: 100%;
}
.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
}
/*# sourceMappingURL=bootstrap-select.css.map */

.workinghours ul {
    padding: 0;
    list-style: none;
}
.workinghours i {
    margin-right: 10px;
}
.workinghours li {
    margin-bottom: 10px;
    color: #c5b199;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
}
.workinghours li span {
    position: absolute;
    right: 0;
}
.workinghours li:first-child {
    padding-top: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.1)
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info,
.appointment_form .form-control {
    border-radius: 3px;
    height: 50px;
    background-color: #ffffff !important;
    padding: 10px;
    border: 1px solid #ededed;
    box-shadow: none !important;
    color: #999999 !important;
    box-shadow: none;
    margin-bottom: 30px;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info,
.appointment_form .btn-info:hover,
.appointment_form .btn-info:focus,
.appointment_form .btn-info {
    margin-bottom: 0;
}
.appointment_form textarea {
    height: 140px !important;
    margin-top: 30px;
}
.appointment_form .dropdown-menu {
    border: 0;
}
.section.db .appointment_form .btn-info:hover,
.section.db .appointment_form .btn-info:focus,
.section.db .appointment_form .btn-info,
.section.db .appointment_form .form-control {
    background-color: #262626 !important;
    border-color: #333;
}
.section.db .workinghours li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1)
}
.section.db .workinghours li:first-child {
    border-top: 1px dashed rgba(255, 255, 255, 0.1)
}
.loader {
    display: block;
    margin: 20px auto 0;
    vertical-align: middle;
}
#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 11000;
    position: fixed;
    display: block
}
.preloader {
    position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 42%;
    width: 80px;
    height: 80px;
    background: center center no-repeat none;
    background-size: 95px 95px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.global-radius {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.message-box .nav-pills {
    text-align: left !important;
    border-radius: 0;
}
.message-box .nav-pills > li > a {
    background-color: #f1edea;
    border-radius: 0 !important;
    text-align: left;
}
.message-box .nav-pills > li {
    text-align: left !important;
    float: none;
    margin: 0 !important;
    padding: 5px;
    width: 100%;
}
/*------------------------------------------------------------------
    RESPONSIVE
-------------------------------------------------------------------*/

@media (max-width: 1008px) {
    .pricing-box-03 {
        text-align: center !important;
    }
    .pricing-box-03::before,
    .pricing-box-03.leftbg::after {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .header .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .header .hasmenu:hover > ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .header .navbar-nav .hasmenu ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .header .hasmenu .dropdown-menu {
        min-width: 220px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .header .hasmenu > ul {
        position: absolute;
        top: 130%;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 0;
    }
    .header .hasmenu > ul.start-right {
        right: 0;
        left: auto;
    }
    .header .hasmenu > ul li {
        position: relative;
    }
    .header .hasmenu > ul li:hover > ul {
        visibility: visible;
        opacity: 1;
        left: 100%;
    }
    .header .hasmenu > ul li:hover > ul.show-right {
        right: 100%;
    }
    .header .navbar-nav .has-submenu {
        position: relative;
    }
    .header .navbar-nav .has-submenu:hover > ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .header .navbar-nav .has-submenu:hover > ul li ul {
        margin-top: -1px;
    }
    .header .navbar-nav .has-submenu ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .header .navbar-nav .has-submenu .dropdown-menu {
        min-width: 220px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .header .navbar-nav .has-submenu > ul {
        position: absolute;
        top: 130%;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 0;
    }
    .header .navbar-nav .has-submenu > ul.start-right {
        right: 0;
        left: auto;
    }
    .header .navbar-nav .has-submenu > ul li {
        position: relative;
    }
    .header .navbar-nav .has-submenu > ul li:hover > ul {
        visibility: visible;
        opacity: 1;
        left: 105%;
    }
    .header .navbar-nav .has-submenu > ul li:hover > ul.show-right {
        right: 100%;
    }
    .header .navbar-nav .has-submenu > ul li ul {
        position: absolute;
        top: 0;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 130%;
    }
    .header .navbar-nav .has-submenu > ul li ul.show-right {
        right: 130%;
        left: auto;
    }
}

.span .invalid-feedback{color:#aa2e28;}
.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}
